body{

    font: 'open-sans','sans-serif';
    background-color: #00CCFF;
    color: #000011;
 text-align: center;
    line-height: 1.7em;
}
li
{
    list-style-type: none;

}

p{

    padding: 5px 0;
    color: #ffee00;
}

a{

    text-decoration: none;
}

a:hover{
        color: #cccccc;

}

h1{
    line-height: 1em;
    font-size: 37px;
    font-weight: bold;
    padding: 10px 0;
    color: #ffffff;

}

h3 {

    line-height: 1em;
font-size: 24px;
font-weight: bold;
padding: 5px 0;
color: #ffffff;
}

.clr{

    clear: both;
}

.pull-right{

    float: right;
    padding: 10px;
}

.pull-left{

    float: left;
    padding: 10px;
}

.image100{

    width: 100%;
}

.container{

    margin: 0 auto;  /*makes the content always center */
    overflow: auto;
    clear: both;
    width:80%;
}


#padding{

    padding-top: 20px;
}


.main-header{

    background: #ffffff;
    border-top: #ffffff 15px solid;
    overflow: auto;
    width: 100%;
    box-shadow: 0 3px 3px -3px;
}

.main-header .logo{

    width:25%;
    float:left;
    padding-top: 10px;
}

.main-header .main-nav{

    width:70%
    float:right;
    padding-top:20px;
}

.main-header .main-nav ul{

    float:right;
}

.main-nav ul li{

    float:left;
    display:inline;
    margin-right: 3px;

}

.main-nav ul li a{

    display: inline-block;
    padding: 10px 20px;
}

.main-nav ul li a:hover, .main-nav ul li a.active{

    border-bottom: #008000 solid 2px;
    padding-bottom: 33px;
}

ul.list-group{

    border: 1px #cccccc solid;
    border-radius:5px;
    padding: 10px 24px;
}


footer{

    border: #000011;
    border-top: 3px #ffee00 solid;
    margin: 10px 0 10px 0;
}

footer p{

    text-decoration-color: #ffffff;
    color: #ffffff
    margin: 0;
    padding: 10px 0 0 0;
    text-align:center;
}

.list-group li{
    padding: 1px 0;
    border-bottom:1px #ffffff dashed;
}

#showcase{

    padding-top:100px;
    margin-top:2px;
    background: #eceded;
    border-bottom: 1px solid #f5e79e;
    padding-bottm:70px;
}

.showcase-right{

    width:45%
    float:right;
}

.showcase-left{

    width:45%
float:left;
}

.box3{
    width: 33%
    float: left;
    overflow: auto;
    padding-top: 20px;
}

.box3 img{
    float: left;
    padding: 5px 10px 0 0;
}

#content{

    width:67%
    overflow: auto;
    float: left;
    margin-top: 20px;

}

#sidebar{
    width: 30%
    float: right;
    margin-top: 20px;
    padding-left: 10px;
}
/*
.showcase-right img{

    width:100%
}


sticky footer code

*/

html,body{
    height:100%;
}

#wrap{

    min-height:100%;
    margin-bottom: -80px;

}

#wrap:after{
    content:"";
    display:block;
}

footer, #wrap:after{

    height:80px;  /*has to match the number above, positive as opposed to negative*/
}

.col-md-3 img{

    width: 90%;
    height: 200px;
}

.col-md-6 img{

    width:90%;
}

#margin{

    margin-top:100px;
}